{% extends 'base.html' %}
<div class="container" style="min-height:1200px">
    {% block main %}

        <div class="d-flex justify-content-center p-4">
            <div class="col">
                <h3 class="text-center" style="color: #8fff2f; font-family:Bahnschrift;">Про нас</h3>
                <div class="card-body">
                    <p style="font-style: normal; font-size: 1.9em; font-family: -apple-system; color: #8fff2f" class="d-flex justify-content">WorldGaming Network (WGN), formerly Virgin Gaming,[1][2] is an online video gaming platform that hosts head-to-head matches, tournaments and ladders for consoles and PC gamers. WorldGaming has had over 3 million gamers register for its platform worldwide which makes it one of the most robust and dynamic global eSports communities. There have been over 6.7 million matches played over 20,000 tournaments held on WorldGaming.com since 2010.

WorldGaming has traditionally focused on the sports games, fighting games and driving games. They had formed a partnership with EA Sports to be integrated into the game and have automatically verified results from the EA servers. These games included the FIFA, Madden and NHL franchises. A partnership was also in place with Take-Two Interactive to be featured and integrated into the NBA2K series of games.

WorldGaming has relaunched a new platform with a larger number of games, supporting a wide range of publishers. It remains focused on gaming and tournaments but also incorporates streaming, live events and being the central community for gaming enthusiasts worldwide.[3][4][5][6][7]

On September 18, 2015, it was announced that WorldGaming had been acquired by theatre chain Cineplex Entertainment,[8] which sold it in 2020 to an unnamed private equity firm.</p>
                </div>
            </div>
        </div>
        </div>

    {% endblock main %}
</div>